      /* *{
            margin: 0px;
        } */
         /* root variable */
         :root{
    --primary-bg:rgba(255, 224, 14, 0.1);
    --secondary-bg:whitesmoke;
    --text-primary: black;
    --text-secondary: rgba(114, 114, 114, 1);
    --primary-color:#FF900E;

    
    

}
        main{
            /* background-color: #FF7D29; */
            background-color: var(--primary-bg);
            padding: 20px;
        }
        .main-tittle{
            font-size: 3rem;
            text-align: center;
            
            
        }
        .container{
            display: flex;
            justify-content: space-evenly;
            flex: 1;
            padding: 20px;
            
        }
        .description{
            /* border: 2px solid tomato; */
            padding: 20px;
            font-size: 1.5rem;
            padding-right: 100px;
            margin-left: 30px;
            border-radius: 10px;
            
            border: 1px solid var(--text-secondary);
            background-color: var(--secondary-bg);
            
        }
         img{
            width: 100%;
        }
        .con-img{
            /* border: 2px solid ; */
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--secondary-bg);
            border-radius: 10px;
            border: 1px solid var(--text-secondary);
            padding: 20px;
        }
        
        .my-image{
            /* height: 250px; */
            width: 50%;
            height: 50%;
            
            border-radius: 10px;
            
        }
       
        
        .blood{
            color: red;
            font-weight: bold;
        }
        
        @media screen and (max-width:576px) {
            .container{
                flex-direction: column;
            }
            main{
                padding: 10px;
            }
            .main-tittle{
                font-size: 2rem;
            }
            .description{
                padding-right: 0px;
                margin-left: 0px;
                margin-top: 20px;
            }
            #email{
            font-size: 1rem;
            width: 100%;
            }
            .my-image{
                width: 100%;
            }
        }